$primaryGreen: #003C36;
$primaryYellow: #FFDA84;
$secondaryGreen: #57E4A9;
$secondaryYellow: #CFA238;
$white: #FFF;
$grayLightest: #FAFCFC;
$grayLighter: #E0E5E5;
$grayLight: #C7D1D0;
$grayDark: #8FA3A1;
$grayDarker: #738C8A;
$grayDarkest: #455453;
$grayBlack: #2E3837;
$black: #151A19;
$successText: #338048;
$infoText: #479FB2;
$warningText: #F6A300;
$dangerText: #FF4D4E;
$sucessBackground: #DEFFF1;
$infoBackground: #DEF9FF;
$warningBackground: #FEF3DD;
$dangerBackground: #FEE5E5;
$gridColor: rgba(143, 163, 161, .1);